/* CSS files add styling rules to your content */

body {
  font-family: Comic Sans MS;
  background-color: black;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f05a9b5b-ead5-460e-8573-73ba2fff9cde/dcnlwkp-19df6a40-badc-4fe9-803d-9da05f5c68bc.png/v1/fill/w_1600,h_1237,strp/akatsuki_cloud_png_by_cporsdesigns_dcnlwkp-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMjM3IiwicGF0aCI6IlwvZlwvZjA1YTliNWItZWFkNS00NjBlLTg1NzMtNzNiYTJmZmY5Y2RlXC9kY25sd2twLTE5ZGY2YTQwLWJhZGMtNGZlOS04MDNkLTlkYTA1ZjVjNjhiYy5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.WR-lsv55SrPFTP8WO5Q6jdpI88IQsgvOfGg7MW_wHuk);
  background-size: 20% ;
  color: white;
}

h1 {
  font-style: italic;
  font-size:18px;
  color: #373fff;
  margin: 100px;
  text-align:center;
}

b{
  color: yellow;
}

#uchiha{
  background-color: red;
  border:10px solid yellow;
}

#uchiha:hover{
  filter:invert(1);
}

.sasuke{
 filter: blur(0px);
  -webkit-transition: all .4s linear;
-moz-transition: all .4s linear;
-ms-transition: all .4s linear;
-o-transition: all .4s linear;
transition: all .4s linear;
}

.sasuke:hover{
 filter: blur(30px); 
}